# Lec12 - Mutable Values
[Link to Videos](https://www.youtube.com/watch?v=qwO1AMKpKDY&list=PL6BsET-8jgYUqH93Ik4w5Rk-A3qGMhhq0&index=4) <br>
[Link to Slides](http://inst.eecs.berkeley.edu/~cs61a/sp18/assets/slides/13-Mutable_Values_1pp.pdf)

## Objects
Object is a value that is supposed to behave like what it represents.

In [1]:
from datetime import date

In [3]:
today = date(2019, 3, 2)
today

datetime.date(2019, 3, 2)

In [4]:
freedom = date(2019, 5, 3)

In [6]:
str(freedom - today)

'62 days, 0:00:00'

**Attribute**

In [7]:
today.year

2019

In [8]:
today.month

3

**Method**

In [10]:
today.strftime('%A %B %d')

'Saturday March 02'

### Summary for objects
- Objects represent information.
- They consist of *data* and *behavior*, bundled together to create abstractions.
- Objects can not only represent things, but also properties, processes & interactions.
- A type of objects is called **class**; classes are first-class value in Python.
- **Object-oriented programming**:
    - A metaphor for organizing large programs.
    - Special syntax that can improve the composition of programs(like the dot-operation).
- In python, every value is an object:
    - All objects have attributes.
    - A lot of data manipulation happens through object methods.
    - Functions do one thing; Objects do many related things.

## String

In [11]:
s = 'Hello'
s

'Hello'

In [12]:
s.upper()

'HELLO'

In [13]:
s.lower()

'hello'

In [14]:
s.swapcase()

'hELLO'

But sring `s` did not change, the methods create new strings based on `s`.

In [15]:
s

'Hello'

### Srting Encoding

**ASCII**
<img src='figs/ascii.png' width='600'>

In [16]:
ord('A')

65

In [17]:
hex(ord('A'))

'0x41'

**Unicode**
<img src='figs/unicode.png' width='600'>

In [18]:
from unicodedata import lookup, name

In [19]:
name('A')

'LATIN CAPITAL LETTER A'

In [20]:
name('a')

'LATIN SMALL LETTER A'

In [21]:
lookup('WHITE SMILING FACE')

'â˜º'

In [22]:
lookup('SNOWMAN')

'â˜ƒ'

In [24]:
lookup('SOCCER BALL')

'âš½'

In [25]:
lookup('BABY')

'ðŸ‘¶'

## Mutation Operations
### Some mutable Objects - List

In [8]:
suits = ['a', 'b', 'c']
original_suits = suits

In [9]:
suits

['a', 'b', 'c']

In [10]:
original_suits

['a', 'b', 'c']

Change the values of `suits`.

In [11]:
suits.pop()

'c'

In [12]:
suits.remove('a')

In [13]:
suits.append('d')

In [14]:
suits.extend(['e', 'f'])

In [15]:
suits

['b', 'd', 'e', 'f']

And now the `original_suits` is still the same with `suits`! - They are different names for the same object.

In [16]:
original_suits

['b', 'd', 'e', 'f']

The same object can change value throughout the course of computation. <br>
<font color='red'>All names that refer to the same object are affected by mutation.</font><br>
Only objects of *mutable* types can change: lists and dictionaries (we have learned so far).

### Another Example of Dictionaries

In [17]:
numerals = {'I':1, 'V':5, 'X':10}
numerals

{'I': 1, 'V': 5, 'X': 10}

In [19]:
numerals['X'] = 11
numerals

{'I': 1, 'V': 5, 'X': 11}

In [20]:
numerals['L'] = 50
numerals

{'I': 1, 'V': 5, 'X': 11, 'L': 50}

In [21]:
numerals.pop('X')
numerals

{'I': 1, 'V': 5, 'L': 50}

### Mutation Can Happen within a Function Call

In [22]:
def mystery(s):
    s.pop()
    s.pop()

In [28]:
four = [1, 2, 3, 4]
mystery(four)
four

[1, 2]

In [31]:
def another_mystery():
    four.pop()
    four.pop()    # refers to a name called `four` in global environment (within the function's scope)

In [32]:
four = [1, 2, 3, 4]
another_mystery() # no arguments!
four

[1, 2]

## Tuples

In [33]:
[3, 4, 5]

[3, 4, 5]

You can simply go without square brackets. Anything seperated by comma is treated as tuple.

In [34]:
3, 4, 5

(3, 4, 5)

Empty tuple

In [35]:
()

()

`tuple()` can transfer a sequence to a tuple.

In [37]:
tuple([3, 4, 5])

(3, 4, 5)

In [38]:
tuple()

()

The syntax for tuple with one element is **terrible !!!**

In [39]:
(2, )

(2,)

Operations

In [40]:
(3, 4) + (5, 6)

(3, 4, 5, 6)

In [41]:
5 in (3,4,5,6)

True

In [42]:
(3,4,5,6)[1:3]

(4, 5)

### Tuples are Immutable Sequences

In [47]:
x = (1, 2, 3)
{x:1}

{(1, 2, 3): 1}

However, **immutable sequence** <font color='red'>may still change if it contains a mutable value as an element</font>!

In [49]:
y = (1, [2, 3], 4)
y

(1, [2, 3], 4)

In [50]:
y[1][0] = 5
y

(1, [5, 3], 4)

In [51]:
try:
    {y:1}
except TypeError as e:
    print(e)

unhashable type: 'list'

**Immutable values are protected from mutation.** <br>
<img src='figs\ooze.png' width='700'>

**Distinguish <font color='red'>Name Change and Object Mutation**</font>. <br>
<img src='figs\name_change.png' width='800'>

## Mutation

### Sameness, Change and Identity Operators

**Same Object**

In [39]:
a = [10]
b = a
b == a, b is a

(True, True)

In [40]:
a.append(20)
b == a, b is a

(True, True)

In [41]:
a, b

([10, 20], [10, 20])

Two objects happen to be same

In [42]:
a = [10]
b = [10]
b == a, b is a

(True, False)

In [43]:
a.append(20)
b == a, b is a

(False, False)

In [44]:
a, b

([10, 20], [10])

<font color='red'>Mutable default arguments are dangerous!!!</font>
<img src='figs/default_mutation.png' width='800'>

In [45]:
def f(s=[]):
    s.append(5)
    return len(s)

In [46]:
f()

1

In [47]:
f()

2

In [48]:
f()

3